.HoverHackedText {
  font-family: "Space Mono", monospace;
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  color: white;
  &:hover {
    background-color: white;
    color: black;
  }

  &__character {
    display: inline-block;
    width: 2.4rem;

    font-size: clamp(3rem, 3vw, 5rem);
    font-size: 52px;
    font-weight: 800;
  }
}
