.Hero {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  margin: -4.8rem 2rem 0 2rem;

  overflow: hidden;
  position: relative;
  color: white;
  border-radius: 5rem;

  &__maxWidthWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: calc(100% - 2em);
  }

  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    // opacity: 0.9;        // Add slight transparency to blend with background
    // mix-blend-mode: soft-light; // This helps blend with the background
  }

  &__title {
    font-size: 6em;
    font-weight: 400;
    margin: 0;
  }

  &__subtitle {
    font-size: 1.625em;
    font-weight: 300;
    margin: 0;
  }

  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 37.41%,
    rgb(141, 51, 238) 69.27%,
    #fff 100%
  );
}

@media (max-width: 599px) {
  .Hero {
    margin: 0;
    height: 85vh;
    &__title {
      font-size: 3em;
    }
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .Hero__title {
    font-size: 5em;
  }
}

@media (min-width: 2000px) {
  .Hero {
    height: 80vh;
  }
}
