.Hero {
  height: 100vh;
  // width: 100%;
  margin-top: -30px; // change , size of header
  padding: 0 1.6rem;
  top: 0;
  overflow: hidden;
  position: relative;
  font-size: 100px;
  color: white;
  
  background: radial-gradient(
    140% 107.13% at 50% 10%,
    transparent 37.41%,
    rgb(141, 51, 238) 69.27%,
    #fff 100%
  );

  border-radius: 2.4rem;
}
