:root {
  --background-rgb: 2 6 23;
  --background-light-rgb: 30 41 59;

  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);
  --delberter-main-colour: #561db8;
  --delberter-main-light-colour: #956fd6;
  --delberter-secondary-colour: #ff005d;

  --font-size: 0.8rem;
}

.Wrapper {
  width: 100%;
  position: relative;
}

.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: default; // change later once links are added

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 4;
    pointer-events: none;
    width: 100%;

    img {
      width: 55%;
      color: white;
    }
  }

  &__gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
      rgb(var(--background-light-rgb)) 40%,
      var(--delberter-main-colour) 50%,
      var(--delberter-main-light-colour),
      var(--delberter-secondary-colour)
    );
    mix-blend-mode: darken;
    pointer-events: none;
    z-index: 3;
  }

  &__characters {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    color: white;
    font-size: var(--font-size);
    font-weight: 500;
    word-wrap: break-word;
    opacity: 0;
    transition: opacity 500ms;
    -webkit-mask-image: radial-gradient(
      300px circle at var(--x) var(--y),
      rgb(255 255 255) 30%,
      rgb(48 22 91 / 25%),
      transparent
    );
    scale: 1.03;

    &:hover {
      opacity: 1;
    }
  }
}

.MetaContainer {
  padding: 0rem 1.6rem 1.6rem 1.6rem;
  text-align: left;

  &__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0px 0.6rem;

    color: #fff;
    font-size: 24px;

    &__date {
      color: #babcd2;
      font-size: 14px;
    }
  }

  &__role {
    color: #956fd6;
    font-size: 16px;
  }
  &__description {
    color: rgb(223, 225, 244);
    font-size: 14px;
    margin-bottom: 0.4rem;
  }
  &__technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    color: #fff;

    &__item {
      display: inline-block;
      padding: 4px 0.6rem;

      font-size: 14px;
      border-radius: 1.2rem;
      border: 1px solid #383a4d;
      line-height: normal;
    }
  }
}

@media (max-width: 600px) {
  :root {
    --card-size: 340px;
  }

  .Card {
    border-radius: 1rem;
  }
}
