%gradientText {
  background: radial-gradient(
    45% 100% at 50% 50%,
    #fff 30%,
    hsla(0, 0%, 100%, 0.4) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Experience {
  position: relative;
  padding-top: 8rem;

  &__header {
    @extend %gradientText;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 2.4rem auto;
    font-size: 3.5rem;

  }
  &__subtitle {
    @extend %gradientText;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 2.4rem auto;
    font-size: 1rem;
    font-weight: bold;
  }

}