.AutoHackedText {
  font-family: "Space Mono", monospace;
  display: inline-block;
  white-space: pre;
  &__character {
    display: inline-block;
    font-size: inherit;
    width: inherit;
    font-family: inherit;

    &--hacked {
      // can add if needed
    }
  }
}
